<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sortable</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/scripts/fetch.js" type="module"></script>

</head>
<body>
    <table>
        <thead>
            <th>Icon</th>
            <th>Name</th>
            <th>Full Name </th>
            <th>Powerstats</th>
            <th>Race</th>
            <th>Gender</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Place Of Birth</th>
            <th>Alignment</th>
        </thead>
    </table>
</body>
</html>